@font-face {
	font-family: Lato;
	src: url(fonts/Lato-Regular.ttf);
}

#header {
	width: 600px;
	text-align: center;
	margin: auto;
	background: url('http://niiiick.com/files/blur-city-1.jpg');
}

#header h1 {
	font-family: Lato;
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #fff;
	margin: 0;
}

.col {
	width: 300px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#wrapper {
	margin: auto;
	text-align: center;
	font-family: Lato, sans-serif;
}

label {
	margin: 0;
	padding-top: 10px;
}

button {
	border: 0;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px;
	color: #fff;
	background: #00008B;
	width: 200px;
	border-radius: 1px;
}

button:hover {
	background: #483D8B;
}

.validated {
	background-color: #fff !important;
}